DEBUG=False
SECRET_KEY=change-me
ALLOWED_HOSTS=dezelisoftware.com,www.dezelisoftware.com,backend,nginx
DATABASE_URL=postgres://dezeliser:change-me@db:5432/dezelidb
SITE_URL=https://dezelisoftware.com
